*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family:'Poppins';
    background-color: rgb(240, 239, 239);
    background-image: url(images/background-imgs-opacity.png);
    background-repeat: repeat;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#body-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8em;
    padding: 2em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 3;

}

#body-header.transparente{
    background-color: transparent;
    box-shadow: none;
    z-index: 3;
}

#body-header.solid{
    background-color: #C8963F;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.menu-container{
    position: relative;
    z-index: 3;
}

.menu-icon{
    width: 3em;
    height: 3em;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    z-index: 3;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s; 
}

.menu-icon.rotate::before{
    transform: rotate(90deg);
}

.menu-icon.rotate::after{
    transform: rotate(-90deg);
}

.sidebar{
    width: 100%;
    height: 250px;
    background-color: #C8963F;
    color: white;
    position: fixed;
    padding: 20px;
    top: -250px;
    left: 0;
    transition: top 0.3s ease;
    z-index: -1;
}

.sidebar.open {
    top: 12%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    z-index: 1;
}

.sidebar ul li {
    padding: 15px;
    z-index: 1;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    z-index: 1;
}

.logo{
    height: 5em;
    z-index: 3;
}

.main-banner{
    width: auto;
    height: 945px;
    overflow: hidden;
    position: relative;
}

.banner-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(240, 239, 239, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
}

.image-text-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 30%;
}

.image-text {
    z-index: 1;
    font-weight: 900;
    line-height: 144px;
    color: white;
    font-size: 70px;
}

.txt-box{
    position: absolute;
    top: 65%;
    left: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 20px;
    opacity: 1;
    width: 1200px;
    height: 500px;
    padding: 30px;
}

.txt-box-logo{
    height: 50em;
    width: auto;
    position: relative;
    margin-right: 30px;
}

.image-txt-box{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.linha-vertical {
    padding: 30px;
    height: 350px;
    border-left: 2.5px solid white;
}
.txt-box-text-area{
    padding: 30px;
}

.txt-box-text{
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: white;
}

.txt-area-paginas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15em;
    margin-bottom: 1em;
}

.txt-paginas{
font-size: 60px;
font-weight: 900;
}

.carousel-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 80%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 33.333333%;
    box-sizing: border-box;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 50%;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-body {
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.prev, .next {
    position: absolute;
    transform: translateY(-50%);
    background-color: #c8963f93;
    font-size: 30px;
    color: white;
    border: none;
    padding: 20px 30px 20px 32px;
    border-radius: 1000px;
    cursor: pointer;
}

.prev {
    left: 150px;
}

.next {
    right: 150px;
}

.contents {
    margin: 20px;
    padding: 10px;
}

.content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}